<div layout="column" layout-align="start center">
    <form name="addProjectForm">
        <div layout="column">

            <md-input-container layout="column">
                <label>Nom du projet</label>
                <input type="text" ng-model="project.projectName">
            </md-input-container>

            <md-input-container layout="column">
                <label>Description du projet</label>
                <input type="text" ng-model="project.projectDescription">
            </md-input-container>

            <md-input-container layout="column">
                <label>Date de début</label>
                <input type="text" ng-model="project.projectBeginDate">
            </md-input-container>

            <md-input-container layout="column">
                <label>Date de fin</label>
                <input type="text" ng-model="project.projectEndDate">
            </md-input-container>

            <md-input-container layout="column">
                <label>Technologies</label>
                <input type="text" ng-model="project.projectTechnologies">
            </md-input-container>



            <md-button class="md-raised md-primary" ng-click="createProject()">Créer le projet</md-button>

            <md-input-container layout="column">
                <div ng-messages="errors" layout-align="center center">
                    <div ng-message="unauthorized">Erreur(s) lors de l'insertion</div>
                </div>
            </md-input-container>

            <div layout="column" layout-align="center center" ng-show="requeting">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

        </div>
    </form>
</div>