<md-toolbar>
    <div class="md-toolbar-tools">

        <h2>
            <span>Projets</span>
        </h2>

        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleProjectSettings('{{idProject}}')">
            <md-icon md-svg-icon="app/images/icons/settings.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More" ng-click="addProject();">
            <md-icon md-svg-icon="app/images/icons/plus.svg"  ></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Less">
            <md-icon md-svg-icon="app/images/icons/minus.svg"  ></md-icon>
        </md-button>

    </div>
</md-toolbar>




<md-content flex layout-padding>

    <md-tabs md-selected="selectedIndex" md-border-bottom>
        <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.name}}">
            <br>

            <!--Display dialog to add a task -->
            <md-button class="md-primary" ng-click="showAddTask($event)"> Ajouter ûne tache </md-button>
            <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
               <!-- <div ng-bind="tab.content"></div>
                <div ng-bind="tab.id"></div>-->

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>Tâches</span>
                    </h2>
                </md-toolbar>
                <md-content>
                    <md-list>
                        <md-list-item class="md-5-line" ng-repeat="task in tasks">
                            <div class="md-list-item-text">
                                <h3>{{item}}</h3>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>


                <br/>
                <!--<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>-->
            </div>
        </md-tab>
    </md-tabs>


    <div  layout="column" style="height:500px;">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="projectSettings">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Informations projet</h1>
                </md-toolbar>
                <md-content  layout-padding>
                    <form>


                        <md-input-container>
                            <label for="projectName">Nom</label>
                            <input type="text" id="projectName" ng-model="project.name"
                                   md-sidenav-focus>
                        </md-input-container>

                        <md-input-container>
                            <label for="projectDescription">Description</label>
                            <input type="text" id="projectDescription" ng-model="project.description"
                                   md-sidenav-focus>
                        </md-input-container>

                        <md-input-container>
                            <label for="projectBeginDate">Date de début</label>
                            <input type="text" id="projectBeginDate" ng-model="project.beginDate"
                                   md-sidenav-focus>
                        </md-input-container>

                        <md-input-container>
                            <label for="projectEndDate">Date de fin</label>
                            <input type="text" id="projectEndDate" ng-model="project.endDate"
                                   md-sidenav-focus>
                        </md-input-container>

                        <md-input-container>
                            <label for="projectTechnologies">Technologies</label>
                            <input type="text" id="projectTechnologies" ng-model="project.technologies"
                                   md-sidenav-focus>
                        </md-input-container>

                        <div>
                            <md-checkbox ng-model="project.achieved">
                                Projet achevé
                            </md-checkbox>
                        </div>
                    </form>
                    <md-button ng-click="saveProjectSettings()" class="md-primary"> Enregistrer modifications </md-button>
                    <span flex></span>
                    <md-button ng-click="closeProjectSettings()" class="md-primary"> Fermer </md-button>
                </md-content>
            </md-sidenav>
        </section>
    </div>


</md-content>


















<!--
<form ng-submit="addTab(tTitle,tContent)" layout="column" style="padding-top:20px;padding-left:20px;">
    <div layout="row" layout-sm="column" layout-margin style="min-height: 75px;">
        <md-input-container>
            <label for="activeIndex">Active Index</label>
            <input type="text" id="activeIndex" ng-model="selectedIndex" disabled>
        </md-input-container>
        <md-input-container>
            <label for="activeTitle">Active Title</label>
            <input type="text" id="activeTitle" ng-model="tabs[selectedIndex].title">
        </md-input-container>
    </div>
    <div layout="row" layout-sm="column" layout-margin style="min-height: 75px;">
        <span class="title">Add a new Tab:</span>
        <md-input-container>
            <label for="label">Label</label>
            <input type="text" id="label" ng-model="tTitle">
        </md-input-container>
        <md-input-container>
            <label for="content">Content</label>
            <input type="text" id="content" ng-model="tContent">
        </md-input-container>
        <md-button class="add-tab md-primary"  type="submit" style="max-height: 40px" >Add Tab</md-button>
    </div>
</form>-->
