<!doctype html>
<html lang="en">
<head>
    <title>create User</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript">

        var task = new Object();
        task.name = "Tâche 1";
        task.text ="Texte 1";
        task.beginDate="01/04/2015";
        task.endDate="05/04/2015";
        task.duration = "4h";

        $.ajax({
            url : "/Jarvis/rest/tasks",
            type: "POST",
            data:JSON.stringify(task),
            dataType   : "json",
            success    : function(){
                console.log("Pure jQuery Pure JS object");
            }
        });

    </script>
</head>
<body>
<p>
    Example of submission JS Object by JSON Body Request<br/>
    Its could submitted mass amount of data by Message body<br/>
    It's secured and faster than any data submission .
</p>
</body>
</html>